body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  /* overflow: hidden; */
}

header,
footer {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

section {
  background: white;
  margin: 10px 0;
  padding: 20px;
  padding-left: 3.5em;
  padding-right: 3.5em;
  border-radius: 8px;
}

#weather-details,
#forecast-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

#zoom-slider-container {
  /* position: absolute; */
  width: 40%;
  margin: 0 auto;
  display: block;
}

/* #zoom-slider {
} */

.sleek-slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 8px; /* Specified height */
  background: #ddd; /* Darker grey for higher contrast */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Partial transparency */
  transition: opacity 0.2s; /* Smooth transitions */
  border-radius: 4px; /* Rounded ends */
}

/* .sleek-slider:hover {
  opacity: 1;
} 
*/

.sleek-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  fill: #333;
  width: 6px; /* Effective width */
  height: 6px; /* Effective height */
}

.sleek-slider::-moz-range-thumb {
  width: 6px; /* Effective width */
  height: 6px; /* Effective height */
  background-color: #333;
}
